/* Основные настройки для всей страницы */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Вводим индекс для усправления размерами некоторых элементов в зависимости от разрешения */
    --index: calc(1vw + 1vh);
    /* Вводим переменную для анимации перехода */
    --transition: 5s cubic-bezier(.05, .5, 0, 1);
}

/* Подключение шрифтов */
@font-face {
    font-family: kamerik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}

/* Настройка тэга body */
body {
    background-color: black;
    color: white;
    overflow: hidden
}

/* Стилизация логотипа */
.logo {
    --logo-size: calc(var(--index) * 10);
    width: var(--logo-size);
    height: var(--logo-size);
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - calc(var(--logo-size)) / 2);
    top: calc(var(--index) * 2.8);
    /* Включаем отображение логотипа на плоскости */
    z-index: 1;
}


/* Настройка перспективы для слоев, начало работы с 3д объектами */
.layers {
    perspective: 1000px;
    /* Прописываем параметр overflow чтобы при увеличении экрана не появлялся ползунок */
    overflow: hidden;
}

.layers__container {
    /* Настраиваем высоту во весь экран */
    height: 100vh;
    min-height: 200px;
    /* 3д параметр для работы перспективы, показывает что дочерний элемент должен быть спозиционирован в 3д пространстве*/
    transform-style: preserve-3d;
    /* Трансформируем картинку при помощи координат из js */
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));

    /* Указываем что вкладке необходимо выделить больше аппаратных ресурсов */
    will-change: transform;

    /* Добавляем анимацию перехода */
    transition: transform var(--transition);
}

/* Включаем видимость слоев */
.layers__item{
    /* Настройка позиционирования слоев */
    position: absolute;
    /* Делаем отрицательный отступ для возможности эффекта параллакса, -5vw(viewWidth) делаем, чтобы на разных устройствах все растягивалось одинаково */
    /* top: -5vw;
    right: -5vw;
    left: -5vw;
    bottom: -5vw; */

    /* Новый способ для отрицательного отступа, более короткий */
    inset: -5vw;
    /* Задаем растяжение заднему фону */
    background-size: cover;
    background-position: center;
    /* Размещение элемента в соответствии с моделью flexbox */
    display: flex;
    /* Центрирование контента */
    align-items: center;
    justify-content: center;
}

/* Начинаем работу со слоями */

.layer-1{
    transform: translateZ(-55px) scale(1.06);
}

.layer-2{
    transform: translateZ(200px) scale(.8);
}

.layer-3{
    transform: translateZ(120px) scale(.8);
}

.layer-4{
    transform: translateZ(80px) scale(.9);
}

.layer-5{
    transform: translateZ(150px) scale(.8);
}

.layer-6 {
    transform: translateZ(200px) scale(.2);
    top: calc(var(--index) * -22);
    border: calc(var(--index) * 5) calc(var(--index) * 5)
}

/* Стилизация текста и кнопки */

.hero-content {
    font-family: kamerik-3d;
    letter-spacing: normal;
    font-size: calc(var(--index) * 2.9);
    text-align: center;
    letter-spacing: calc(var(--index) * -.15);
    line-height: 1.35em;
    margin-top: calc(var(--index) * 2);
}

.hero-content span {
    /* Переносим отдельную часть текста с тэгом span на новую строку */
    display: block;
    line-height: 1.25;
}

.hero-content__p {
    text-transform: none;
    font-family: merriweather-italic-3d;
    letter-spacing: normal;
    font-size: calc(var(--index) * .8);
    line-height: 3;
}

.button-start {
    font-family: Arial;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .7);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: #fff;
    border-radius: 10em;
    border: rgb(255 255 255 / .4) 3px solid;
    outline: none;
    cursor: pointer;
    transform: translate(0px, 40px);
}

/* Убираем перекрытие объектами текста и кнопок */
.layer-3, .layer-4, .layer-5 {
    pointer-events: none;
}